doctype html
html(lang="en")
  head
    title= "Alexander Sopov - " + activePage.title
    meta(charset="utf-8")
    meta(name="description", content="Personal Portfolio")
    meta(name="author", content="Alexander Sopov")
    meta(name="viewport", content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no")
    link(href="https://fonts.googleapis.com/css?family=Gentium+Basic|Josefin+Sans:300,400", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:300|Source+Code+Pro:600,900" rel="stylesheet")
    style
      include ../../dist/css/style.css
    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    script
      include ../../dist/js/bundle.js
  body
    //
      HEADER STICKY, MENU AND LOGO
    header.stickyHD
      div#logo(onclick="script.nav.goTo(this)")
        h3=logo+"."
    //
      div#navbar(onclick="script.nav.toggle()")
        ul
          - for (var i=1; i<activePage.sections.length;i++)
            - var title = activePage.sections[i].title, url = "#"+activePage.title;
            li(onclick="script.nav.goTo(this)", data-value=title, id=title+"-nav")
              p!= title+"."
   
    //
      HEADER-IMG, SUPPOSED TO CHANGE BUT FUCK IT, KEEP IT STATIC ATM
      ***
    section#header-padding
    //- section#header-img
    .white
      include includes/introduction.pug
      - var page=activePage.sections[1], color="#1a1b20";
      include modules/angled-line.pug
    .black
      include includes/merits.pug
      - page = activePage.sections[2], color="white";
      include modules/angled-line.pug
    .white
      include includes/xp.pug
      - page = activePage.sections[3], color="blue";
    .black
      include includes/footer.pug

        
