section(id=page.title, class=i==0 ? 'active' : '').black
  .page.left-aligned
    .title
      h1=page.title+"."
    .content-wrap.slider#xp-slider
      - for(var j=0; j<page.industries.length;j++)
        - var industry = page.industries[j];
        div(id=industry.h1, class=j==0 ? 'active' : '').module.slide-cont
          .md-8
            h2=industry.h1
            p=industry.p
            ul
              - for (var i = 0; i<industry.bullet.length; i++)
                li=industry.bullet[i]
          .md-4
            h1=" "
            -for (var i =0; i<industry.img.length; i++)
              .sm-6
                img(src=industry.img[i].url alt=industry.img[i].alt).icon
      .slide-dots.white-slider
        //- .arrow(onclick="script.slider.goLeft(\"xp-slider\");")
        //-   .left-arrow
        .btn-container
          .dots-container
            - for(var j=0; j<page.industries.length;j++)
              - ;
              .dot(class=j==0?"active":"" onclick="script.slider.goTo("+j+", \"xp-slider\");")
        //- .arrow(onclick="script.slider.goRight(\"xp-slider\");")
        //-   .right-arrow
  include ../modules/angled-line.pug