section(id=page.title, class=i==0 ? 'active' : '').black
  .page.left-aligned
    .title
      h1=page.title+"."
    .content-wrap.slider#xp-slider
      - for(var j=0; j<page.industries.length;j++)
        - var industry = page.industries[j];
        div(id=industry.h1, class=j==0 ? 'active' : '').module.slide-cont
          .md-8
            h2=industry.h1
            p="Short and brief description of my areas of knowledge, stripped off of any bullshit and cheap shots at philosophy"
            ul
              li="A little and short"
              li="List of projects"
              li="And/Or competences"
          .md-4
            h1=" "
            .md-6
              img(src="http://via.placeholder.com/300x300").icon
            .md-6
              img(src="http://via.placeholder.com/300x300").icon
            .md-6
              img(src="http://via.placeholder.com/300x300").icon
            .md-6
              img(src="http://via.placeholder.com/300x300").icon
      .slide-dots.white-slider
        //- .arrow(onclick="script.slider.goLeft(\"xp-slider\");")
        //-   .left-arrow
        .btn-container
          .dots-container
            - for(var j=0; j<page.industries.length;j++)
              - ;
              .dot(class=j==0?"active":"" onclick="script.slider.goTo("+j+", \"xp-slider\");")
        //- .arrow(onclick="script.slider.goRight(\"xp-slider\");")
        //-   .right-arrow
  include ../modules/angled-line.pug