//- section.page
//-   .container
//-     .logo
//-       h3=logo
//-     .email
//-       h3=contact.email
//-     .github
//-       h3=contact.github
//-     .copyright
//-       h3=copyright


section.black
  .page#footer
    .title
      h1="Contact."
    .content-wrap
      .md-6
        .module.active
          h2="Alexander Sopov"
          p="Virvelvindsgatan 8"
          p="Gothenburg, Sweden"
          p="sopovalexander [at] gmail.com"
      .md-6
        .insta-feed
      .social-media-icons
          img.github
          img.instagram
          img.twitter