section(id=page.title, class=i==0 ? 'active' : '').black
  .page.left-aligned
    .title.md-center-aligned
      h1=page.title+"."
    .content-wrap.slider#xp-slider
      - for(var j=0; j<page.industries.length;j++)
        - var industry = page.industries[j];
        div(id=industry.h1, class=j==0 ? 'active' : '').module.slide-cont
          h2.md-center-aligned=industry.h1
          table
            tr
              - for(var n=0; n<industry.jobs.length; n++)
                - var job = industry.jobs[n];
                td
                  h3=job.h2
                  h4=job.h3
                  - for(var k=0; k<job.p.length;k++)
                    - var p = job.p[k];
                      p=p
      .slide-dots.white-slider
        //- .arrow(onclick="script.slider.goLeft(\"xp-slider\");")
        //-   .left-arrow
        .btn-container
          .dots-container
            - for(var j=0; j<industry.jobs.length;j++)
              - ;
              .dot(class=j==0?"active":"" onclick="script.slider.goTo("+j+", \"xp-slider\");")
        //- .arrow(onclick="script.slider.goRight(\"xp-slider\");")
        //-   .right-arrow
  include ../modules/angled-line.pug